html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* MY CODE BEGINS BELOW */
/*

/* HEADER */


.header {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 150px;
	
	background-color: rgba(0, 0, 0, .5);

	position: absolute;
	left: 0;
	align-items: center;
	width: 100%;
}

.logo {
	display: flex;
	width: 100px;
	min-width: 100px;
	margin-left: 5%;
}

.logo img {
	width: 100%;
	height: 100%;
}

/* HOME LINKS --------------------------- */

.home {
	/* LIST CONTAINER */
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	color: white;
	font-family: 'heebo';
	font-size: 30px;
	text-align: center;
	width: 100px;
}

.home ul {
	/* LIST O' LINKS */
	width: 100%;
	display: flex;
	flex-direction: column;
}
.homeW {
	/* 'WRITINGS' LINK */
	color: #F28500;
	text-decoration: none;
	opacity: 0;
	transition: opacity .55s ease-in-out;
	-moz-transition: opacity .55s ease-in-out;
	-webkit-transition: opacity .55s ease-in-out;
}
.homeH {
	/* 'HOME' LINK */
	color: white;
	text-decoration: none;
}
.homeM {
	/* 'MUSIC' LINK */
	color: #D95D39;
	text-decoration: none;
	opacity: 0;
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
}
.home:hover .homeW {
	/* ON 'HOME' HOVER, 'WRITINGS' APPEARS */
	opacity: 1.0;
	transition: opacity .55s ease-in-out;
	-moz-transition: opacity .55s ease-in-out;
	-webkit-transition: opacity .55s ease-in-out;
}
.home:hover .homeM {
	/* ...AND SO DOES 'MUSIC' */
	opacity: 1.0;
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
}

/* MENU CONTAINER --------------------------- */

.menu {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: 5%;
	align-items: center;
}

/* SKILLS -------------------------*/

.skills{
	margin-left: 5%;
	font-family: 'heebo';
	font-size: 30px;
	text-align: center;
	width: 150px;
}

.skills a {
	color: white;
	text-decoration: none;
}


/* LINKS LINKS --------------------------- */

.links {
	display: flex;
	flex-direction: column;
	margin-left: 6%;
	color: white;
	font-family: 'heebo';
	font-size: 30px;
	text-align: center;
	width: 150px;
}

.links ul {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.linksG {
	color: #F28500;
	text-decoration: none;
	opacity: 0;
	transition: opacity .55s ease-in-out;
	-moz-transition: opacity .55s ease-in-out;
	-webkit-transition: opacity .55s ease-in-out;
}

.contentClass{
	position: relative;

}
.linksL:before {
  position:absolute;
  color: white;
  text-decoration: none;
  content: 'Links';
  transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
}
.linksL:after {
  color: white;
  opacity:0;
  text-decoration: none;
  content: 'Linkedin';
  transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
}
.linksS {
	color: #D95D39;
	text-decoration: none;
	opacity: 0;
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
}
.links:hover .linksG {
	opacity: 1.0;
	transition: opacity .55s ease-in-out;
	-moz-transition: opacity .55s ease-in-out;
	-webkit-transition: opacity .55s ease-in-out;
}
.links:hover .linksS {
	opacity: 1.0;
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
}

.links:hover .linksL:before {
  opacity:0;
  text-decoration: none;
  transition: opacity .55s;
  -moz-transition: opacity .55s;
  -webkit-transition: opacity .55s;
}
.links:hover .linksL:after {
  opacity:1;
  text-decoration: none;
  transition: opacity .55s;
  -moz-transition: opacity .55s;
  -webkit-transition: opacity .55s;
}


/* CONTACT LINKS --------------------------- */


.contact {
	display: flex;
	flex-direction: column;
	color: white;
	font-family: 'heebo';
	font-size: 30px;
	text-align: center;
	width: 150px;
}

.contact ul {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.contactF {
	color: #F28500;
	text-decoration: none;
	opacity: 0;
	transition: opacity .55s ease-in-out;
	-moz-transition: opacity .55s ease-in-out;
	-webkit-transition: opacity .55s ease-in-out;
}
.contactC {
	color: white;
	text-decoration: none;
}
.contactT {
	color: #D95D39;
	text-decoration: none;
	opacity: 0;
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
}
.contact:hover .contactF {
	opacity: 1.0;
	transition: opacity .55s ease-in-out;
	-moz-transition: opacity .55s ease-in-out;
	-webkit-transition: opacity .55s ease-in-out;
}
.contact:hover .contactT {
	/* ...AND SO DOES 'MUSIC' */
	opacity: 1.0;
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
}




.index  {
	display: -webkit-flex;
	display: flex;
	background-color: black;
	justify-content: center;
	width: 100%;
	z-index: -9000;
	background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url(images/bg1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
	padding: 0;
	
}

.landing {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Heebo', sans-serif;
	justify-content: center;
}

.welcome {
	display: flex;
	font-size: 50px;
	color: white;
}

.looking {
	display: flex;
	flex-direction: row;
	font-size: 20px;
}

.lookingText {
	display: flex;
	color: white;
	margin-right: 5px;
}

.landingLinks a {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	transition: color .5s ease;
}


.link1 {
	color: #F0A202; /*#FFEC94; #FFD034;*/
}

.link2 {
	color: #F28500;/*#9BD1FA; #0072BB;*/
}

.link3 {
	color: #D95D39;/*#B0E57C; #FF4C3B;;*/
}

/*
	If I want to make all links the same color
	.link1, .link2, .link3 {
	color: #3D72A4;
	}
*/

.landingLinks a:hover {
	color: white;	
}



/* DEVELOPER PAGE */


.developer { 
	display: flex;
	display: -webkit-flex;
	background: linear-gradient(rgba(240, 162, 2, 0.25), rgba(240, 162, 2, 0.25)), url(images/moodycoderBlur.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
	padding: 0;
	width: 100%;
	justify-content: center;
}



.headline {
	display: flex;
	width: 100%;
	justify-content: center;
	margin: auto;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	
	/*border: 1px solid yellow;*/
}

.headline p{
	margin-top: 200px;
	background-color: transparent;
	color: white;
	font-family: 'Heebo', sans-serif;
	font-size: 50px;
	width: 100%;
	margin-bottom: 50px;
	
	/*border: 1px solid blue;*/
}

.blurbs {
	display: flex;
	flex-direction: row;
	color: white;
	font-size: 20px;
	font-family: 'Heebo';
	justify-content: space-between;
	
	/*border: 1px solid green;*/
}

.blurb1{
	display: flex;
	width: 300px;
	
	/*border: 1px solid pink;*/
}

.blurb2 {
	display: flex;
	width: 300px;
	
	/*border: 1px solid purple;*/
}

/* WRITER PAGE */

.writer { 
	background: black url(images/wood.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}






/* MUSICIAN PAGE */

.musician { 
	background: black url(images/headphones.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}