html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1.2;
	font-size: 16px;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* MY CODE BEGINS BELOW */

/* HEADER */


.header {
	display: flex;
	flex-direction: row;
	width: 98%;
	min-width: 800px;
	height: 125px;
	margin: 1%;
	border-radius: 10px;
	
	
	background-color: rgba(106, 142, 127, .65);/*rgba(51,107,135,.0); */
	/*background: -webkit-linear-gradient(bottom, rgba(24,24,24,0), rgba(51,107,135,.55) 10%); 
    background: -o-linear-gradient(top, rgba(24,24,24,0), rgba(51,107,135,.55) 10%); 
    background: -moz-linear-gradient(top, rgba(24,24,24,0), rgba(51,107,135,.55) 10%);
    background: linear-gradient(to top, rgba(24,24,24,0), rgba(51,107,135,.55) 30%);*/
	
	
	position: absolute;
	left: 0;
	right: 0;
	align-items: center;
}

.logo {
	display: flex;
	width: 100px;
	min-width: 100px;
	margin-left: 5%;
	justify-content: center;
}

.logo img {
	width: 100%;
	height: 100%;
}



/* HOME LINKS --------------------------- */

.home {
	/* LIST CONTAINER */
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	/*color: #F5E356;*/
	font-family: 'heebo';
	font-size: 188%;
	text-align: center;
	width: 100px;
}

.home ul {
	/* LIST O' LINKS */
	width: 100%;
	display: flex;
	flex-direction: column;
}
.homeW {
	/* 'WRITINGS' LINK */
	color:  #EDD892;/*#F28500;*/
	text-decoration: none;
	opacity: 0;
	transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
}
.homeH {
	/* 'HOME' LINK */
	color: #DFE2AA;
	text-decoration: none;
}
.homeM {
	/* 'MUSIC' LINK */
	color: #FCB97D;/*#D95D39;*/
	text-decoration: none;
	opacity: 0;
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
}
.home:hover .homeW {
	/* ON 'HOME' HOVER, 'WRITINGS' APPEARS */
	opacity: 1.0;
	transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
}
.home:hover .homeM {
	/* ...AND SO DOES 'MUSIC' */
	opacity: 1.0;
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
}

/* MENU CONTAINER --------------------------- */

.menu {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: 5%;
	align-items: center;
}

/* SKILLS -------------------------*/

.skills {
	display: flex;
	flex-direction: column;
	/*color: #DDBC95;*/
	font-family: 'heebo';
	font-size: 188%;
	text-align: center;
	width: 150px;
}

.skillsS:before {
	color: #DFE2AA;
	text-decoration: none;
	content: 'Skills';
	
}

.skillsS:after {
	color: #F4E8C1;
	opacity:0;
	text-decoration: none;
	content: '_';
	animation: blinker .35s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

.skills:hover .skillsS:after {
	opacity:1;
	text-decoration: none;
	color: white;
}
@keyframes blinker { to { opacity: 0; } }

/* LINKS LINKS --------------------------- */

.links {
	display: flex;
	flex-direction: column;
	margin-left: 6%;
	/*color: #DDBC95;*/
	font-family: 'heebo';
	font-size: 188%;
	text-align: center;
	width: 150px;
}

.links ul {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.linksG {
	color: #7FC29B;/*#F28500;*/
	text-decoration: none;
	opacity: 0;
	transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
}

.contentClass{
	position: relative;
	
}
.linksL:before {
	position:absolute;
	color: #DFE2AA; /*white;*/
	text-decoration: none;
	content: 'Links';
	transition: opacity .85s;
	-moz-transition: opacity .85s;
	-webkit-transition: opacity .85s;
}
.linksL:after {
	color: #DFE2AA;/*white*/
	opacity:0;
	text-decoration: none;
	content: 'Linkedin';
	transition: opacity .85s;
	-moz-transition: opacity .85s;
	-webkit-transition: opacity .85s;
}
.linksS {
	color: #D0F4EA;/*#D95D39;*/
	text-decoration: none;
	opacity: 0;
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
}
.links:hover .linksG {
	opacity: 1.0;
	transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
}
.links:hover .linksS {
	opacity: 1.0;
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
}

.links:hover .linksL:before {
	opacity:0;
	text-decoration: none;
}
.links:hover .linksL:after {
	opacity:1;
	text-decoration: none;
	transition: opacity .85s;
	-moz-transition: opacity .85s;
	-webkit-transition: opacity .85s;
}


/* CONTACT LINKS --------------------------- */


.contact {
	display: flex;
	flex-direction: column;
	/*color: #DDBC95;*/
	font-family: 'heebo';
	font-size: 188%;
	text-align: center;
	width: 150px;
}

.contact ul {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.contactF {
	color: #BA8F95;
	text-decoration: none;
	opacity: 0;
	transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
}
.contactC {
	color: #DFE2AA;
	text-decoration: none;
}
.contactT {
	color: #CAB6CD;
	text-decoration: none;
	opacity: 0;
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
}
.contact:hover .contactF {
	opacity: 1.0;
	transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
}
.contact:hover .contactT {
	/* ...AND SO DOES 'MUSIC' */
	opacity: 1.0;
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
}


@media only screen and (max-width: 479px){ /* Portrait */
	html, body{
		width: 100%;
		height: 100%;
	}
	
	.header{
		width: 94%;
		min-width: 94%;
		margin: 3%;
	}
	
	.home{
		margin-left: 21px;
	}
	.homeH {
		position: relative;
		top: -6px;
		font-size: 120%;
		letter-spacing: 2px;
	}
	
	.homeM, .homeW, .linksL:before, .contactF, .contactT, .linksG, .linksS{
		display: none;
	}
	
	.menu{
		position: absolute;
		top: 65px;
		left: 140px;
		width: 55%;
		justify-content: space-between;
		
		
	}
	
	.skillsS:before, .linksL:after, .contactC{
		font-size: 50%;
		opacity: 1;
		margin: 0;
	}
	
	.skills, .links, .contact{
		letter-spacing: 1px;
	}
	
	.skills{
		width: 22%;/*30px;*/
	}
	.links{
		width: 50%;/*100px;*/
		margin: 0;
	}
	.contact{
		width: 40%;/*50px;*/
	}
}

@media only screen and (min-width: 480px) and (max-width: 1024px){ /* Landscape & Tablets */
	
	.homeM, .homeW, .linksL:before, .contactF, .contactT, .linksG, .linksS{
		display: none;
	}
	
	html, body{
		width: 100%;
		height: 100%;
	}
	
	.header{
		width: 96%;
		min-width: 96%;
		margin: 2%;
		height: 50px;
	}
	
	.home{
		margin-left: -3%;
	}
	
	.home, .menu{
		margin-top: -4px;
	}
	
	.linksL:after, .homeH, .contactC, .skillsS:before{
		opacity: 1;
		font-size: 65%;
		margin: 0;
	}
	
	.logo{
		width: 45px;
		min-width: 45px;
		margin: 2%;
	}
	
	.menu{
		width: 35%;
		margin-right: 2%;
		justify-content: space-between;
	}
	
	.skills{
		width: 22%;/*30px;*/
	}
	.links{
		width: 50%;/*100px;*/
		margin: 0;
	}
	.contact{
		width: 40%;/*50px;*/
	}
	
}

/* END OF HEADER */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

.index  {
	display: -webkit-flex;
	display: flex;
	background-color: black;
	justify-content: center;
	width: 100%;
	z-index: -9000;
	background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url(images/bg1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
	padding: 0;
}



.landingWrap{
	display: flex;
	margin: auto;
	width: 100%;
	justify-content: center;
}

.landing {
	display: flex;
	flex-direction: column;
	margin-top: 150px;
	font-family: 'Heebo', sans-serif;
	justify-content: center;
	min-width: 325px;
}

@media only screen and (max-width: 1024px){
	.landing{
		margin-top: 0;
	}
}

.welcome {
	display: flex;
	font-size: 313%;
	color: white;
}

.looking {
	display: flex;
	flex-direction: row;
	font-size: 125%;
}

.lookingText {
	display: flex;
	color: white;
	margin-right: 5px;
}

.landingLinks a {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	transition: color .5s ease;
}

.link1 {
	color: #F0A202;
}

.link2 {
	color: #F28500;
}

.link3 {
	color: #D95D39;
}

.landingLinks a:hover {
	color: white;	
}



/* DEVELOPER PAGE */


.developer { 
	display: flex;
	display: -webkit-flex;
	background: /*linear-gradient(rgba(240, 162, 2, .25), rgba(240, 162, 2, .25)),*/ url(images/bulb.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*margin-left: 12%;*/
	padding: 0;
	width: 60%;
	justify-content: flex-start;
}

.textCont{
	margin-left: 35%;
	width: 100%;
	/* Container for main content */
}

.headline {
	display: flex;
	width: 100%;
	justify-content: center;
	margin: auto;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	/*border-bottom: 2px solid white;*/
}

.headline p{
	margin-top: 175px;
	/*background-color: transparent;*/
	color: white;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 250%;
	width: 100%;
	letter-spacing: 2px;
	/*margin-bottom: 50px;*/

}

.blurbs {
	display: flex;
	flex-direction: row;
	color: white;/*#D8DBE2;*/
	font-size: 125%;
	font-family: 'Heebo';
	justify-content: space-between;
	background-color: 	rgba(251,101,66, .0);
	margin-top: 30px;
	padding-top: 15px;
	padding-bottom: 15px;

}

.blurbs a{
	color: white;
}

.blurbs p{
	width: 300px;
}

.devButtons {
	display: flex;
	margin-top: 5%;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 5%;
	
}

/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
	50% {
		background-color: rgba(106, 142, 127, 0.15);
	}
}

@keyframes hvr-back-pulse {
	50% {
		background-color: rgba(106, 142, 127, .15); /*(255, 255,255, .15)*/
	}
}

.hvr-back-pulse {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
	color: #DFE2AA;
	font-family: 'heebo';
	letter-spacing: 1px;
	font-size: 125%;
	border: 3px dashed rgb(106, 142, 127);
	border-radius: 25px;
	padding: 10px;
	text-decoration: none;
}
.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
	-webkit-animation-name: hvr-back-pulse;
	animation-name: hvr-back-pulse;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
	-webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
	animation-timing-function: cubic-bezier(.5, 0, 1, 1);
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
    background-color: rgba(106, 142, 127, .65);
	border: rgb(106,142,127) 3px solid;
	
	color: #dfe2aa;
}

@media only screen and (max-width: 479px){ /* Phone Portrait */
	.developer{
		width: 100%;
	}
	.textCont{
		margin-left: 5%;
		margin-right: 5%;
		width: 90%;
	}
	
	.headline p{
		font-size: 200%;
		text-align: center;
		width: 90%;
	}
	
	.blurbs{
		flex-direction: column;
	}
	.blurbs p{
		width: 100%;
		text-align: justify;
		margin-bottom: 6%;
	}
	.devButtons, .hvr-back-pulse{
		margin-top: 0;
		margin-bottom: 20px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px){ /* Phone Landscape */
	.developer{
		width: 100%;
	}
	.textCont{
		margin-top: -8%;
		margin-left: 4%;
		width: 80%;
	}
	
	.headline p{
		font-size: 150%;
		width: 100%;
	}

	.blurbs{
		margin-top: 1%;
	}
	
	.blurbs p{
		font-size: 75%;
		width: 45%;
		text-align: justify;
		margin-bottom: 5%;
	}
	
	.devButtons, .hvr-back-pulse{
		margin-top: 0;
		margin-bottom: 20px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px){ /* Tablet */
	.developer{
		width: 100%;
	}
	.textCont{
		margin-top: 0%;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
	
	.headline p{
		font-size: 200%;
		width: 100%;
	}

	.blurbs{
		margin-top: 5%;
	}
	
	.blurbs p{
		font-size: 100%;
		width: 45%;
		text-align: justify;
		margin-bottom: 5%;
	}
	.devButtons{
		margin-top: 0;
		margin-bottom: 2%;
	}


}
	
/* SKILLS PAGE */

.skillsPage { 
	display: flex;
	display: -webkit-flex;
	background: /*linear-gradient(rgba(240, 162, 2, .25), rgba(240, 162, 2, .25)), */url(images/rainbow.jpg) no-repeat center center fixed; /* 240, 162, 2, .25*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0;
	width: 100%;
	justify-content: center;
}

.skillsCont{
	/* Container for skills images and info */
	display: flex;
	flex-direction: column;
	margin-top: 175px;	
	overflow: hidden;
}

.skillsCont h1{
	width: 70%;
	font-family: 'Monoton';
	font-size: 400%;
	color: white;
	text-align: center;
	border: 3px dashed white;
	margin: 10px auto;
	letter-spacing: 4px;
	padding: 6px;
}

.skillsRow, .rightTri{ /*SKILLSROW is for top and bottom row, RIGHTRI is for the middle one*/
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 20px;
}

.skillsRow img, .rightTri img {
	width: 400px;
	height: 400px;
	margin: 20px;
	border: 4px solid #303030;
	border-radius: 25px;
	background: #303030;
}

.skillsRow p, .rightTri p{
	display: flex;
	flex-direction: column;
	width: 400px;
	font-family: 'heebo';
	font-size: 125%;
	align-self: flex-end;
	border-radius: 25px;
	position:relative;
	padding:20px;
	margin: 20px;
	color:white;
	background:rgba(48, 48, 48, 0.65);
	/* css3 */
	
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
}
.skillsRow p{
    margin-left:50px;
}
.rightTri p{
	margin-right: 50px;
}
/* creates triangle */
.skillsRow p:after {
	content:"";
	position:absolute;
	bottom:-35px; /* value = - border-top-width - border-bottom-width */
	left:50px; /* controls horizontal position */
	border-style:solid;
	
	/* reduce the damage in FF3.0 */
	display:block;
	width:0;
	top:60%; /* controls vertical position */
	left:-25px; /* value = - border-left-width - border-right-width */
	bottom:auto;
	border-width:25px 25px 25px 0;
	border-color:transparent rgba(48,48,48,.65);
	
}

.rightTri p:after{
	content:"";
	position:absolute;
	bottom:-35px; /* value = - border-top-width - border-bottom-width */
	right:50px; /* controls horizontal position */
	border-style:solid;
	
	/* reduce the damage in FF3.0 */
	display:block;
	width:0;
	top:60%; /* controls vertical position */
	right:-25px; /* value = - border-left-width - border-right-width */
	bottom:auto;
	border-width: 25px 0px 25px 25px;
	border-color: transparent rgba(48,48,48,.65);
}


@media only screen and (max-width: 479px){ /* Phone Portrait */
	.skillsCont h1{
		font-size: 200%;
	}
	
	.skillsRow, .rightTri{ /*SKILLSROW is for top and bottom row, RIGHTRI is for the middle one*/
		flex-direction: column;
		margin: auto;
	}

	.skillsRow img, .rightTri img, .skillsRow p, .rightTri p {
		margin: 20px;
		align-self: center;
	}
	
	.skillsRow img, .rightTri img{
		width: 300px;
		height: 300px;	
	}
	
	.skillsRow p, .rightTri p{
		width: 270px;
		height: 270px;
		font-size: 90%;
		text-align: justify;
	}
	
	/*
	.skillsRow p:after, .rightTri p:after{
		display: none;
	}
	*/
	
	
	/* creates triangle */
	.skillsRow p:after {
		content:"";
		position:absolute;
		/*left:50px; /* controls horizontal position */
		border-style:solid;
		
		/* reduce the damage in FF3.0 */
		display:block;
		width:0;
		height: 0;
		top: -25px; /* controls vertical position */
		left:130px; /* value = - border-left-width - border-right-width */
		bottom:auto;
		border-width:0px 25px 25px 25px;
		border-color:transparent transparent rgba(48,48,48,.65) transparent;
		
		


		
	}

	.rightTri p:after{
		content:"";
		position:absolute;
		border-style:solid;
		
		/* reduce the damage in FF3.0 */
		display:block;
		width:0;
		left:130px; /* value = - border-left-width - border-right-width */
		top:310px;
		border-width: 25px 25px 0px 25px;
		border-color: rgba(48,48,48,.65) transparent;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px){ /* Phone Landscape */
	
	.skillsCont{
		margin-top: 100px;
	}

	.skillsRow img, .rightTri img{
		width: 200px;
		height: 200px;	
	}
	
	.skillsRow p, .rightTri p{
		width: 270px;
		height: 170px;
		font-size: 68%;
		text-align: justify;
	}
}

@media only screen and (min-width: 768px) and (max-width: 770px){ /* Tablet Portrait */
	.skillsCont{
		margin-top: 100px;
	}

	.skillsCont h1{
		margin-bottom: 40px;
	}
	
	.skillsRow, .rightTri{
		width: 100%;
		margin: auto;
		justify-content: space-between;
	}
	
	.skillsRow img, .rightTri img, .skillsRow p, .rightTri p {
		margin: 20px;
		align-self: center;
	}	
	
	
	.skillsRow img, .rightTri img{
		width: 300px;
		height: 300px;	
	}
	
	.skillsRow p, .rightTri p{
		width: 330px;
		height: 260px;
		font-size: 100%;
		text-align: justify;
	}


}

/* ABOUT ME PAGE */
.aboutMe { 
	display: flex;
	display: -webkit-flex;
	background: /*linear-gradient(rgba(240, 162, 2, .25), rgba(240, 162, 2, .25)), */url(images/meicons3.jpg) no-repeat center center fixed; /* 240, 162, 2, .25*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0;
	width: 100%;
	justify-content: space-around;
}

.tabPort{
	display: none;
	margin: auto;
	height: 80px;
	padding: 20px;
	font-family: 'Kalam';
	font-size: 510%;
	color: white;
	border: 3px dashed white;
	width: 40%;
	letter-spacing: 4px;
	
}

.about{
	display: flex;
	flex-direction: row;
	margin-top: 175px;
	justify-content: center;
	width: 100%;
	min-width: 900px;

}

.about img{
	display: flex;
	width: 300px;
	height: 402px;
	border: 2px solid white;
	margin: 20px;
}

.about p{
	display: flex;
	width: 300px;
	color: white;
	font-family: 'heebo';
	font-size: 114%;
	margin: 20px;
	padding: 20px;
	border:  2px solid white;
	border-radius: 25px;
	background:rgba(106, 142, 127, .65);
}

.about h1{
	display: flex;
	margin-bottom: 0;
	margin-right: -370px;
	margin-top: 25px;
	margin-left: 135px;
	height: 80px;
	padding: 20px;
	font-family: 'Kalam';
	font-size: 510%;
	color: white;
	border: 3px dashed white;
	transform: rotate(90deg);
	transform-origin: left top 0;
	width: 40%;
	letter-spacing: 4px;
}

@media only screen and (max-width: 479px){ /* Phone Portrait */
	.about{
		flex-direction: column;
		width: 100%;
		min-width: 100%;
		margin-top: 0px;
		justify-content: center;
	}
	
	.tabPort{
		display: flex;
		margin-left: auto;
		margin-right: auto;
		font-size: 300%;
		width: 70%;
		height: 50px;
		margin-top: 170px;
		justify-content: center;
	}
	
	.about h1{
		display: none;
	}
	
	.about img{
		align-self: center;
		width: 90%;
		height:auto;
	}

	.about p{
		margin-left: auto;
		margin-right: auto;
		width: 80%;/*290px;*/
		margin-bottom: 20px;
	}
	
}

@media only screen and (min-width: 480px) and (max-width: 768px){ /* Phone Landscape & Tablet Portrait */
	
	.tabPort{
		display: flex;
		margin-top: 100px;
		width: 50%;
		justify-content: center;
		font-size: 400%;
		height: 70px;
	}
	
	.about{
		width: 100%;
		min-width: 100%;
		margin-top: 0px;
		justify-content: space-around;
	}
	
	.about h1{
		display: none;
	}
	
	.about p{
		font-size: 109%;
		width: 300px;
		min-width: 300px;
		text-align: justify;
	}
	
	.about img{
		width: 40%;
		height: 40%;
	}
	
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
	.about h1{
		width: 353px;
		font-size: 505%;
	}
	.about{
		width: 100%;
		min-width: 100%;
		justify-content: center;
		margin-right: auto;
		margin-left: auto;
	}
}

/* PROJECTS PAGE */

.projects { 
	display: flex;
	display: -webkit-flex;
	background: url(images/mount.png) no-repeat center center fixed; /* 240, 162, 2, .25*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0;
	width: 100%;
	justify-content: space-around;
}

/* CONTACT PAGE */

.contactPage { 
	display: flex;
	display: -webkit-flex;
	background: linear-gradient(rgba(240, 162, 2, .1), rgba(240, 162, 2, .1)), url(images/skyline.jpeg) no-repeat center center fixed; /* 240, 162, 2, .25*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0;
	width: 100%;
	justify-content: space-around;
}

.contactForm {
	width: 500px;
	margin-top: 175px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	font-family: 'heebo';
	line-height: 150%;
	font-size: 100%;
	color: white;
}

input,
textarea{
	width: 450px;
	background-color: rgba(255,255,255,.8);
	border: 2px solid #303030;
	outline: none;
	padding: 6px;
	margin-bottom: 5px;
	resize: none;
	border-radius: 5px;
}

input{
	height: 20px;
}


input[type=button], input[type=submit], input[type=reset] {
	font-family: 'heebo';
    text-decoration: none;
    cursor: pointer;
	font-size: 100%;
	width: 100px;
	margin-bottom: 25px;
	color: #303030;
	padding: 0;
	height: 35px;
	background-color: rgba(255,255,255,.5);
	transition: background-color .5s;
}

input[type=submit]:hover{
	background-color: rgba(255,255,255,.8);
}

@media only screen and (max-width: 479px){
	.contactForm{
		width: 100%;
		justify-content: center;
		margin-left: 10px;
	}
	
	input,
	textarea{
		width: 320px;
		align-self: center;
	}
}

/* WRITER PAGE */

.writer { 
background: black url(images/wood.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}






/* MUSICIAN PAGE */

.musician { 
	background: black url(images/headphones.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}








/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
	
	10% {
		-webkit-transform: translateX(1.5px) rotate(1deg);
		transform: translateX(1.5px) rotate(1deg);
	}
	
	20% {
		-webkit-transform: translateX(-1.5px) rotate(-1deg);
		transform: translateX(-1.5px) rotate(-1deg);
	}
	
	30% {
		-webkit-transform: translateX(1.5px) rotate(1deg);
		transform: translateX(1.5px) rotate(1deg);
	}
	
	40% {
		-webkit-transform: translateX(-1.5px) rotate(-1deg);
		transform: translateX(-1.5px) rotate(-1deg);
	}
	
	50% {
		-webkit-transform: translateX(1px) rotate(.5deg);
		transform: translateX(1px) rotate(.5deg);
	}
	
	60% {
		-webkit-transform: translateX(-1px) rotate(-.5deg);
		transform: translateX(-1px) rotate(-.5deg);
	}
	
	70% {
		-webkit-transform: translateX(1px) rotate(.5deg);
		transform: translateX(1px) rotate(.5deg);
	}
	
	80% {
		-webkit-transform: translateX(-1px) rotate(-.5deg);
		transform: translateX(-1px) rotate(-.5deg);
	}
	
	90% {
		-webkit-transform: translateX(.5px) rotate(0);
		transform: translateX(.5px) rotate(0);
	}
	
	100% {
		-webkit-transform: translateX(-.5px) rotate(0);
		transform: translateX(-.5px) rotate(0);
	}
}

@keyframes hvr-buzz-out {
	10% {
		-webkit-transform: translateX(1.5px) rotate(1deg);
		transform: translateX(1.5px) rotate(1deg);
	}
	
	20% {
		-webkit-transform: translateX(-1.5px) rotate(-1deg);
		transform: translateX(-1.5px) rotate(-1deg);
	}
	
	30% {
		-webkit-transform: translateX(1.5px) rotate(1deg);
		transform: translateX(1.5px) rotate(1deg);
	}
	
	40% {
		-webkit-transform: translateX(-1.5px) rotate(-1deg);
		transform: translateX(-1.5px) rotate(-1deg);
	}
	
	50% {
		-webkit-transform: translateX(1px) rotate(.5deg);
		transform: translateX(1px) rotate(.5deg);
	}
	
	60% {
		-webkit-transform: translateX(-1px) rotate(-.5deg);
		transform: translateX(-1px) rotate(-.5deg);
	}
	
	70% {
		-webkit-transform: translateX(1px) rotate(.5deg);
		transform: translateX(1px) rotate(.5deg);
	}
	
	80% {
		-webkit-transform: translateX(-1px) rotate(-.5deg);
		transform: translateX(-1px) rotate(-.5deg);
	}
	
	90% {
		-webkit-transform: translateX(.5px) rotate(0);
		transform: translateX(.5px) rotate(0);
	}
	
	100% {
		-webkit-transform: translateX(-.5px) rotate(0);
		transform: translateX(-.5px) rotate(0);
	}
}

.hvr-buzz-out {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
	-webkit-animation-name: hvr-buzz-out;
	animation-name: hvr-buzz-out;
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}




/* EXTRA */

.coming {
	display: flex;
	color: white;
	justify-content: center;
	font-family: 'heebo';
	font-size: 313%;
	margin-top: 30%;
	
	
	}	
	
/* Slideshow container */
.slideshow-container {
  width: 750px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgba(106, 142, 127,0.7);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(106, 142, 127,0.7);
  color: white;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-family: 'heebo';
  font-size: 100%;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-top: 15px;
  position: absolute;
  bottom: 4px;
  width: 726px;
  text-align: justify;
  background-color: rgba(106, 142, 127,.9);
  	background: -webkit-linear-gradient(top, rgba(24,24,24,0), rgba(106, 142, 127,.9) 1%); 
    background: -o-linear-gradient(bottom, rgba(24,24,24,0), rgba(106, 142, 127,.9) 1%); 
    background: -moz-linear-gradient(bottom, rgba(24,24,24,0), rgba(106, 142, 127,.9) 1%);
    background: linear-gradient(to bottom, rgba(24,24,24,0), rgba(106, 142, 127,.9) 3%);
}

.text a{
	text-decoration: none;
	font-size: 150%;
	color: #DFE2AA;
	transition: color 0.3s ease;
}

.text a:hover{
	color: white;
	
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 10px;
  
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 479px){ /* Phone Portrait */
	.slideshow-container{
		width: 350px;
	}
	
	.text{
		width: 327px;
		bottom: -280px;
		margin-bottom: 20px;
		
		background-color: rgba(106, 142, 127,.75);
			background: -webkit-linear-gradient(top, rgba(24,24,24,0), rgba(106, 142, 127,.75) 0%); 
			background: -o-linear-gradient(bottom, rgba(24,24,24,0), rgba(106, 142, 127,.75) 0%); 
			background: -moz-linear-gradient(bottom, rgba(24,24,24,0), rgba(106, 142, 127,.75) 0%);
			background: linear-gradient(to bottom, rgba(24,24,24,0), rgba(106, 142, 127,.75) 0%);		
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px){ /* Phone Landscape */
	.slideshow-container{
		width: 600px;
		margin-top: 75px;
	}
	
	.text{
		width: 576px;		
	}
	
}
	
@media only screen and (min-width: 768px) and (max-width: 770px){ /* Tablet Portrait */
	.slideshow-container{
		width: 700px;
	}
	
	.text{
		width: 676px;
		bottom: -190px;
		
		background-color: rgba(106, 142, 127,.75);
			background: -webkit-linear-gradient(top, rgba(24,24,24,0), rgba(106, 142, 127,.75) 0%); 
			background: -o-linear-gradient(bottom, rgba(24,24,24,0), rgba(106, 142, 127,.75) 0%); 
			background: -moz-linear-gradient(bottom, rgba(24,24,24,0), rgba(106, 142, 127,.75) 0%);
			background: linear-gradient(to bottom, rgba(24,24,24,0), rgba(106, 142, 127,.75) 0%);
		
	}
}