html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET */

@font-face {
    font-family: BasicTitleFont;
    src: url('fonts/basictitlefont.ttf');
    font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: RobotoThin;
    src: url('fonts/Roboto-Thin.ttf');
    font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

/* HEADER */

.header {
	/*border: 1px solid yellow;*/
	display: flex;
	flex-direction: column;
	width: 555px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	justify-content: flex-start;
}

.topLine{
	/*border: 1px solid purple;*/
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content:space-between;
}

.header img {
	/*border: 1px solid red;*/
	display: flex;
	width: 95px;
	height: 95px;
}

.header h1 {
	/*border: 1px solid green;*/
	display: flex;
	font-family: BasicTitleFont;
	align-self: flex-start;
	font-size: 80px;
	color: black;
}

/* MENU BAR */

.menuBar {
	display: flex;
	/*border: 1px solid pink;*/
	width: 100%;
	height: 20px;
	flex-direction: row;
	justify-content: flex-end;
	z-index: 999;
	margin-top: -22px;
	
	
}

/* Effect 3: bottom line slides/fades in */
.cl-effect-3 a {
	padding: 4px 0;
	font-family: 'RobotoThin';
	position: relative;
	display: inline-block;
	margin-left: 30px;
	outline: none;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-shadow: 1px 0 0 black;
	font-size: 17.5px;
}

.cl-effect-3 a::after { /* UNDERLINE */
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px; 
	background: rgba(220, 154, 140, .5);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cl-effect-3 a:hover{
	color: #DC9A8C;
	text-shadow: 1px 0 0 #DC9A8C;
}

.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	outline: none;
}
/* END OF HEADER */