html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET */

@font-face {
    font-family: BasicTitleFont;
    src: url('fonts/basictitlefont.ttf');
    font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: RobotoThin;
    src: url('fonts/Roboto-Thin.ttf');
    font-weight: 400;
	-webkit-font-smoothing: antialiased;
}


.header {
	/*border: 1px solid yellow;*/
	display: flex;
	flex-direction: column;
	width: 540px;
	height: 900px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	justify-content: flex-start;
}

.topLine{
	/*border: 1px solid purple;*/
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content:space-between;
}

.header img {
	/*border: 1px solid red;*/
	display: flex;
	width: 95px;
	height: 95px;
}

.header h1 {
	/*border: 1px solid green;*/
	display: flex;
	font-family: BasicTitleFont;
	align-self: flex-start;
	font-size: 75px;
}

/* MENU IMAGES */

.menuBar {
	display: flex;
	border: 1px solid pink;
	display: flex;
	width: 100%;
	height: 100px;
	flex-direction: row;
	justify-content: center;
}

.menuHome {
	border: 1px solid green;
	width: 80px;
	height: 100%;
	margin: auto;
	background:transparent url('images/menu/Home.jpg')no-repeat;
	background-size: contain;
}

.menuHome:hover {
	width: 80px;
	height: 100%;
	margin: auto;
	background:transparent url('images/menu/Home_Hover.jpg')no-repeat;
	background-size: contain;
}

.menuDesigns {
	border: 1px solid green;
	width: 80px;
	height: 100%;
	margin: auto;
	background:transparent url('images/menu/Designs.jpg')no-repeat;
	background-size: contain;
}

.menuDesigns:hover {
	width: 80px;
	height: 100%;
	margin: auto;
	background:transparent url('images/menu/Designs_Hover.jpg')no-repeat;
	background-size: contain;
}

.menuAbout {
	border: 1px solid green;
	width: 80px;
	height: 100%;
	margin: auto;
	background:transparent url('images/menu/About.jpg')no-repeat;
	background-size: contain;
}

.menuAbout:hover {
	width: 80px;
	height: 100%;
	margin: auto;
	background:transparent url('images/menu/About_Hover.jpg')no-repeat;
	background-size: contain;
}

.menuContact {
	border: 1px solid green;
	width: 80px;
	height: 100%;
	margin: auto;
	background:transparent url('images/menu/Contact.jpg')no-repeat;
	background-size: contain;
}

.menuContact:hover {
	width: 80px;
	height: 100%;
	margin: auto;
	background:transparent url('images/menu/Contact_Hover.jpg')no-repeat;
	background-size: contain;
}



