/* http://meyerweb.com/eric/tools/css/reset/ 
	v2.0b1 | 201101 
	NOTE: WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*font-size: 100%;*/
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 87.5%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
	:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET */



/* FONTS */

@font-face {
    font-family: BasicTitleFont;
    src: url('fonts/basictitlefont.ttf');
    font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: RobotoThin;
    src: url('fonts/Roboto-Thin.ttf');
    font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: MinionPro;
    src: url('fonts/MinionPro.otf');
    font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: Bebas;
    src: url('fonts/Bebas.TTF');
    font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

/* iPHONE SIZES */




/* HEADER */


.header {
	/*border: 1px solid yellow;*/
	display: flex;
	flex-direction: column;
	width: 555px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	justify-content: flex-start;
}

.topLine{
	/*border: 1px solid purple;*/
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content:space-between;
}

.header img {
	/*border: 1px solid red;*/
	display: flex;
	width: 95px;
	height: 95px;
}

.header h1 {
	/*border: 1px solid green;*/
	display: flex;
	font-family: BasicTitleFont;
	align-self: flex-start;
	font-size: 571.4%;
	color: black;
}

@media only screen and (max-width: 479px) {
	.header{
		margin-top: 10%;
		width: 95%;
	}
	.header h1{
		font-size: 340%;
		margin-left: -2%;
	}
	.header img{
		width: 70px;
		height: 70px;
	}
}	

/* MENU BAR */

.menuBar {
	display: flex;
	/*border: 1px solid pink;*/
	width: 100%;
	height: 20px;
	flex-direction: row;
	justify-content: flex-end;
	z-index: 999;
	margin-top: -22px;
	
	
}

/* Effect 3: bottom line slides/fades in */
.cl-effect-3 a {
	padding: 4px 0;
	font-family: 'RobotoThin';
	position: relative;
	display: inline-block;
	margin-left: 30px;
	outline: none;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-shadow: 1px 0 0 black;
	font-size: 125%;
}


@media screen and (max-width: 400px) {
	.menuBar{
		width: 95%;
		margin-left: -4%;
		white-space: nowrap;
	}
	.cl-effect-3 a{
		font-size: 81%;
		margin-left: 3%;
		letter-spacing: 3px;
		white-space: nowrap;
		text-shadow: none;
	}
}

.cl-effect-3 a::after { /* UNDERLINE */
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px; 
	background: rgba(220, 154, 140, .5);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cl-effect-3 a:hover{
	color: #DC9A8C;
	text-shadow: 1px 0 0 #DC9A8C;
}

.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	outline: none;
}
/* END OF HEADER */

/* FRONT PAGE IMAGE */

.bigPic {
	position: relative;
	width: 50%;
	text-align:center;
	display:block;
	margin: 75px auto;
	z-index: -3;
	/*border: 2px solid purple;*/
}

@media screen and (max-width: 1080px) {
	.bigPic{
		width: 80%;
	}
	
}


/* DESIGNS PAGE GRID */


/*
	Here's the "wrapper" that will hold all of our tiles.
*/
.wrap {
	width: 60%;	
	overflow: hidden;   /* The use of overflow:hidden allows us to apply floats to the tiles within. */
	margin: 50px auto;
	
}

/*
	Next up is the box (which corresponds to a tile).
*/  
.box {
	float: left; /* The float creates the grid, by ensuring that tiles are automatically laid out in rows. */
	position: relative;   /* The relative positioning, used in conjunction with position:absolute on boxInner, makes the boxes remain square regardless of content. */
	width: 33%;   /* The width and padding-bottom are what determine the size of the box and make it square. */
	padding-bottom: 33%;
	
	
}

/*
	This is the actual content area for each tile.  It is positioned with 10 pixels around each edge.
*/
.boxInner {
	border: 1px solid black;
	position: absolute;
	left: 20px;
	right: 20px;
	top: 20px;
	bottom: 20px;
	overflow: hidden;
}

/*
	We want our images (which are square) to fill the full tile width, so we use width:100%
*/
.boxInner img {
	width: 100%;
}

/*
	This definition styles the title text box
*/
.boxInner .titleBox {
	/* The text box goes at the bottom of each tile, initially hidden out of view via a negative margin-bottom value: */
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 38%;
	/*margin-bottom: -60px;* ---- FOR SLIDE UP*/
	
	/* We set a partially-transparent background along with some padding: */
	background: #000;
	background: rgba(255,255,255, 0.7);
	color: #000;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	font-family: MinionPro;
	font-size: 100%;
	letter-spacing: 2px;
	
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
} 

/*
	Here are the hover styles used to reveal the text box.  Note that we have separate styles for touch and non-touch environments; more on that in a moment.
*/

body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
	opacity: 1;
}

a:hover .titleBox, a:focus .titleBox {
    opacity: 1;
}

/*
	Here are our media queries to "snap" the number of tiles per row:
*/

@media only screen and (max-width : 480px) {
	.wrap{
		width: 100%;
	}
	.box {
		width: 50%;
		padding-bottom: 50%;
	}
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
	/* Tablet view: 2 tiles */
	.wrap{
		width: 80%;
	}
	.box {
		width: 50%;
		padding-bottom: 50%;
	}
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
	/* Small desktop / ipad view: 3 tiles */
	.wrap{
		width: 70%;
	}
	.box {
		width: 33.3%;
		padding-bottom: 33.3%;
	}
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
	/* Medium desktop: 4 tiles */
	.wrap{
		width: 60%;
	}
	.box {
		width: 33.3%;
		padding-bottom: 33.3%;
	}
}

/* ABOUT PAGE */



.about {
	display: flex;
	justify-content: center;
	/*width: 58%;*/
	width: 770px;
	margin: auto;
}

.about:after {
	content:" ";
	clear: both;
}
.Jordan,
.bio {
	float:left;
	width:45%;
	padding: 8px;
	margin-top: 75px;
}
.JordanInner,
.bioInner {
	height: 400px;
	overflow: hidden;
	font-family: RobotoThin;
	font-size: 100%;
	line-height: 175%;
	text-shadow: 0 0 0 #000000;
}
.Jordan img {
	width: 100%;
}
@media screen and (max-width: 400px) {
	.about{
		display: flex;
		flex-direction: column;
		width: 95%;
		justify-content: center;
		margin: 50px auto;
		padding: 0;
	}
	.Jordan, .bio{
		width: 100%;
		margin: auto;
		padding: 0;
	}
}
/*  BUTTONS */

/* Icon Down */
@-webkit-keyframes hvr-icon-down {
	0%,
	50%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	
	25%,
	75% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
}

@keyframes hvr-icon-down {
	0%,
	50%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	
	25%,
	75% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
}

/* Icon Down */
.hvr-icon-down {
	border: 4px solid #4a4848;
	padding: 10px;
	letter-spacing: 4px;
	margin-top: 0px;
	margin-bottom: 25px;
	text-decoration: none;
	font-family: Bebas;
	font-size: 100%;
	color: #4a4848;
	display: flex;
	justify-content: center;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	padding-right: 0em;
}

a{
	text-decoration: none;
}
.hvr-icon-down:before {
	text-decoration: none;
	content: "\f01a";
	position: absolute;
	right: .5em;
	padding: 0 1px;
	font-family: FontAwesome;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.hvr-icon-down:hover:before, .hvr-icon-down:focus:before, .hvr-icon-down:active:before {
	text-decoration: none;
	-webkit-animation-name: hvr-icon-down;
	animation-name: hvr-icon-down;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}




/* CONTACT PAGE */

#asterisk{
	position: relative;
	top: -4px;
}

.contact {
	/*width: 460px;*/
	width: 460px;
	margin: 0 auto;
	font-family: RobotoThin;
	line-height: 175%;
	font-size: 85%;
	text-shadow: 0 0 0 #000000;
}

input,
textarea{
	width: 100%;
	/*width: 450px;*/
	background-color: white;
	border: 1px solid rgba(220, 154, 140, 1);
	outline: none;
	padding: 4px;
	resize: none;
	border-radius: 10px;
}

@media screen and (max-width: 480px) {
	.contact{
		width: 80%;
	}
	
}

input[type=button], input[type=submit], input[type=reset] {
	font-family: RobotoThin;
	text-shadow: 0 0 0 #000000;
    text-decoration: none;
    cursor: pointer;
	font-size: 100%;
	width: 100px;
	margin-bottom: 25px;
	background-color: rgba(220, 154, 140, .1);
	border-radius: 10px;
	
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}


input[type=submit]:hover, input[type=submit]:focus, input[type=submit]:active {
	background-color: rgba(220, 154, 140, .75);
	text-shadow: none;
	color: white;
}

/* INDIVIDUAL DESIGN PAGES */

.entire{
	margin-bottom: 50px;
	
}

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 0;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: rgba(220, 154, 140, .5);
	font-weight: bold;
	font-size: 130%;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
	color: white;
	background-color: rgba(0,0,0,0.5);
}

.cap {
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	max-width: 1000px;
	width: 90%;
	line-height: 150%;
	text-shadow : 0 0 0 #000000;
	font-family: RobotoThin;
}

.dot {
	cursor:pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}


.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@media only screen and (max-width: 300px) {
	.slprev, .slnext,.text {font-size: 80%}
}

/* CREDIT AT BOTTOM OF PAGES */

.copyright{
	display: none;
	font-family: RobotoThin;
	font-size: 100%;
	color: #b3b3b3;
	white-space: nowrap;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	
	bottom:30px;
    position:fixed;
    z-index:150;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
	(document.documentElement.clientHeight-this.offsetHeight)));
}

.credit {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	white-space: nowrap;
	
	bottom:0;
    position:fixed;
    z-index:150;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
	(document.documentElement.clientHeight-this.offsetHeight)));
}

.credit p{
	font-family: RobotoThin;
	font-size: 100%;
	color: #b3b3b3;
	white-space: nowrap;
}

.credit img{
	opacity: .5;
	width: 100%;
}

@media only screen and (max-width: 400px){
	.credit span{
		display: none;
	}
	.copyright{
		display: inline;
	}
}

/* Bob */
@-webkit-keyframes hvr-bob {
	0% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
	}
	
	50% {
		-webkit-transform: translateY(-3px);
		transform: translateY(-3px);
	}
	
	100% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
	}
}

@keyframes hvr-bob {
	0% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
	}
	
	50% {
		-webkit-transform: translateY(-3px);
		transform: translateY(-3px);
	}
	
	100% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
	}
}

@-webkit-keyframes hvr-bob-float {
	100% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
	}
}

@keyframes hvr-bob-float {
	100% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
	}
}

.hvr-bob {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	width: 25px;
	position: relative;
	top: -7px;
	margin-left: 3px;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
	-webkit-animation-name: hvr-bob-float, hvr-bob;
	animation-name: hvr-bob-float, hvr-bob;
	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 1.5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
}
