
/* GENERAL */

body, html{
	overflow-x: hidden;
	font-family: 'Heebo', sans-serif;
}

.container-fluid{
	padding: 0px;
}



/* LANDING */

.logo-row{
	padding-top: 50px;
}

.main-logo{
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#logo-image{
	background-image: url('images/chamber_decal_transparent.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;

}

.mission-statement{
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mission-statement h1,
.mission-statement h4{
	margin: 0;
	padding-left: 50px;
	padding-right: 50px;
	color: #8A998F;
}

.mission-statement h4{
}

.mission-statement h1{
	padding-bottom: 15px;
	font-family: 'Kaushan Script', cursive;
	
}

.hero-row{
}

.hero-unit{
	background-image: url('images/wheat1-2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero-buttons{
	width: 40%;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-self: center;
}

.left-button, .right-button{
    background-color: #67BF60;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.shadow{
  position: relative;
  display: inline-block;
  /* width: 100px; */
  /* height: 100px; */
  /* background-color: #fff; */
  /* border-radius: 5px; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  /* border-radius: 5px; */
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shadow::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shadow:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  text-decoration: none;
  color: white;
}

.shadow:hover::after {
    opacity: 1;
}


.side-width{
	width: 10%;
}

.mid-width{
	width: 40%;
}



/* MEMBERS center */

.members-center-banner{
	height: 100px;
	background: url('images/wheat7bw.jpg') 0 0 no-repeat fixed;
	background-size: cover;
	/* background-position: center center; */
	/* background-repeat: no-repeat; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.blue-overlay{
	background-color: #67BF60;
    position:relative;
    width: 104%;
	margin-left: -15px;
    height: 100%;
    opacity: 0.20;
    -moz-opacity: 20%;
    -webkit-opacity: 20%;
    z-index: 2;
}

.members-center-banner h1{
	font-size: 50px;
	letter-spacing: 3px;
	color: #ffffff;
}

.navbar-default{
	height: 175px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #ffffff;
}

.navbar-fixed-top{
	border: 0;
	margin-top: 50px;
}

.navbar-brand{
	/* margin-top: -40px; */
	height: 180px;
}

.navbar-brand img{
	max-width:150px;
}

@media (min-width: 768px){
	.navbar-nav {
		float: left;
		margin-top: 115px;
	}
}

.navbar-form.navbar-right{
	width: 200px;
	display: flex;
	justify-content: space-around;
}

#phoneNum{
	color: #67BF60;
	padding-top: 5px;
	margin: 0 4px;
	font-family: heebo;
	font-size: 100%;
}

#emailIcon{
	font-size: 22px;
	transition: all .5s ease;
}

#emailIcon:hover{
	background-color: rgba(250,250,250,.25);
}
