
/* GENERAL */

body, html{
	overflow-x: hidden;
	font-family: 'Heebo', sans-serif;
}

.container-fluid{
	padding: 0px;
}



/* LANDING */

.logo-row{
	padding-top: 50px;
}

.main-logo{
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#logo-image{
	background-image: url('images/chamber_decal_transparent.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;

}

.mission-statement{
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mission-statement h1,
.mission-statement h4{
	margin: 0;
	padding-left: 50px;
	padding-right: 50px;
	color: #8A998F;
}

.mission-statement h4{
}

.mission-statement h1{
	padding-bottom: 15px;
	font-family: 'Kaushan Script', cursive;
	
}

.hero-row{
}

.hero-unit{
	background-image: url('images/wheat1-2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero-buttons{
	width: 40%;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-self: center;
}

.left-button, .right-button{
    background-color: #67BF60;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.shadow{
  position: relative;
  display: inline-block;
  /* width: 100px; */
  /* height: 100px; */
  /* background-color: #fff; */
  /* border-radius: 5px; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  /* border-radius: 5px; */
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shadow::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shadow:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  text-decoration: none;
  color: white;
}

.shadow:hover::after {
    opacity: 1;
}


.side-width{
	width: 10%;
}

.mid-width{
	width: 40%;
}

.footer{
	background-color: #50311b;
}

.footer .container{
	width: 90%;
	margin: 0 auto;
}

.footer .container .row{
	display: flex;
	justify-content: space-around;
	margin: 15px;
}

.footer-links{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.footer-contact{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 1px;
}

.footer ul{
	list-style-type:none;
	margin-bottom: 0;
}

.footer ul li a{
	text-decoration: none;
	color: white;
}

.footer ul li a:hover{
	text-decoration: underline;
	cursor: pointer;
}

.footerText{
	color: white;
}

.footerText{
	font-size: 80%;
	text-align:justify;
	text-align-last:center;
	/* for IE9 */
	-ms-text-align-last:center;
	font-family: heebo;
}

.footerText img{
	width: 30px;
}

.footerText a:link, .footerText a:hover,
.footerText a:visited, .footerText a:active{
	color: white;
}

/* Bob animation on NR logo */
@-webkit-keyframes hvr-bob {
	0% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
	}
	
	50% {
		-webkit-transform: translateY(-3px);
		transform: translateY(-3px);
	}
	
	100% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
	}
}

@keyframes hvr-bob {
	0% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
	}
	
	50% {
		-webkit-transform: translateY(-3px);
		transform: translateY(-3px);
	}
	
	100% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
	}
}

@-webkit-keyframes hvr-bob-float {
	100% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
	}
}

@keyframes hvr-bob-float {
	100% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
	}
}

.hvr-bob {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	width: 25px;
	position: relative;
	top: -4px;
	margin-left: -2px;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
	-webkit-animation-name: hvr-bob-float, hvr-bob;
	animation-name: hvr-bob-float, hvr-bob;
	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 1.5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timig-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
}

/* MEMBERS CENTER */

.members-body{
	background-color: #e4d0a0;/*#fffcf5;*/	
}

/* NAV BAR */

.navbar-default{
	height: 175px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #50311b;
	border: 0;
}


.navbar-brand img{
	max-width:150px;
}

@media (min-width: 768px){
	.navbar-nav {
		float: left;
		margin-top: 115px;
	}
}

.nav.navbar-nav li a{
	color: white;
	transition: all .5s ease;
}

.nav.navbar-nav li a:hover{
	text-decoration: underline;
	color: white;
}

.navbar-form.navbar-right{
	width: 200px;
	display: flex;
	justify-content: space-around;
}

#phoneNum{
	color: white;;
	padding-top: 5px;
	margin: 0 4px;
	font-family: heebo;
	font-size: 100%;
}

#emailIcon{
	font-size: 22px;
	transition: all .5s ease;
	color: rgba(250,250,250,1)
}

#emailIcon:hover{
	color: rgba(250,250,250,.25);
}

.navbar-brand{
	height: 180px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	color: #50311b;
	background-color: white;
}

/* CONTENT */

.members-center-welcome{
	margin: 40px;
	width: 50%;
}

.members-center-welcome h2{
	font-family: 'Courgette', cursive;
}

.members-center-wrap{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-around;
}

.members-center-welcome p{
	width: 100%;
}

.members-center-welcome-pic{
	height: 300px;
	width: 100%;
	background: url('images/coffee.jpeg') center center no-repeat;
	background-size: contain;
	margin: 40px;
}

.members-center-banner{
	height: 150px;
	width: 100%;
	background: url('images/wheat7bw.jpg') 0 -230px no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.members-center-banner h1{
	font-size: 70px;
	letter-spacing: 3px;
	color: #ffffff;
}

.content-wrap{
	background-color: #ffffff;
	box-shadow: -8px 8px 4px #888888;
	margin-bottom: 40px;
}

.members-center-spotlight{
	display: flex;
	width: 50%;
	flex-direction: column;
	justify-content: center;
}

.members-center-spotlight img{
	width: 100%;
}

.spotlight-center{
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
}


