
body, html{
	overflow-x: hidden;
	font-family: 'Heebo', sans-serif;
}

.container-fluid{
	padding: 0px;
}

.logo-row{
	padding-top: 50px;
}

.main-logo{
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#logo-image{
	background-image: url('images/chamber_decal_transparent.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;

}

.mission-statement{
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mission-statement h2,
.mission-statement h4{
	margin: 0;
	padding-left: 50px;
	padding-right: 50px;
	color: #8A998F;
}

.mission-statement h4{
}

.mission-statement h2{
	padding-bottom: 15px;
	font-family: 'Kaushan Script', cursive;
	
}

.hero-row{
}

.hero-unit{
	background-image: url('images/wheat1-2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero-buttons{
	width: 40%;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-self: center;
}

.left-button, .right-button{
    background-color: #67BF60;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.left-button{
	
}

.right-button{
	
}

.shadow{
  position: relative;
  display: inline-block;
  /* width: 100px; */
  /* height: 100px; */
  /* background-color: #fff; */
  /* border-radius: 5px; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  /* border-radius: 5px; */
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shadow::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shadow:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  text-decoration: none;
  color: white;
}

.shadow:hover::after {
    opacity: 1;
}


.side-width{
	width: 10%;
}

.mid-width{
	width: 40%;
}

